body {
  background-color: rgb(253, 253, 124);
}
h1 {
  text-align: center;
  font-size: 60px;
  font-family: "Arial Black", Gadget, sans-serif;
}

h2 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size:30px;
}
p {
  font-size: 23px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
ul {
  font-size: 23px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}



.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 21px 0px;
  text-decoration: none;
  font-size: 20px;
  width: 25%;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgb(212, 84, 84);
  color: white;
}